@model IEnumerable<DnevnaDoza.Models.Korisnik>

@{
    ViewData["Title"] = "Index";
}

<h1>BazaKorisnika</h1>

<p>
    <a asp-action="Create">Kreiraj novog korisnika</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prezime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KorisnickoIme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipKorisnika)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumZaposlenja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lozinka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CVC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumIstekaKartice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrojKartice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrojTelefona)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MjestoStanovanja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostanskiBroj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EMail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IDApoteke)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prezime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KorisnickoIme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipKorisnika)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumZaposlenja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lozinka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CVC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumIstekaKartice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrojKartice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrojTelefona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MjestoStanovanja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostanskiBroj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDApoteke)
            </td>
                <td>
                    @if (User.IsInRole("Administrator"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.IDKorisnik">Uredi</a>
                        <nobr>|</nobr>
                        <a asp-action="Delete" asp-route-id="@item.IDKorisnik">Izbrisi</a>
                        <nobr>|</nobr>

                        <a asp-action="Details" asp-route-id="@item.IDKorisnik">Detalji</a>
                    }
                </td>
        </tr>
}
    </tbody>
</table>

