@model IEnumerable<DnevnaDoza.Models.Proizvod>

@{
    ViewData["Title"] = "Proizvod";
}

<h1>Baza proizvoda</h1>

<p>
    <a asp-action="Create">Dodaj Proizvod</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cijena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dostupnost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IDKorpa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kategorija)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cijena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dostupnost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDKorpa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kategorija)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Uredi</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Detalji</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Izbrisi</a>
            </td>
        </tr>
}
    </tbody>
</table>
