@model IEnumerable<DnevnaDoza.Models.Proizvod>
<!--model element, kojim se definiše varijabla model. Ovoj varijabli dodjeljuje se
vrijednost IEnumerable<StudentskaSluzba.Models.Predmet>, čime se označava da
je u pitanju kolekcija podataka tipa Predmet. -->

@{
    ViewData["Title"] = "Proizvod";
}

<h1>Baza proizvoda</h1>

<p>
    <a asp-action="Create">Dodaj Proizvod</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cijena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dostupnost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IDKorpa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kategorija)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <!--Html.DisplayFor(modelItem => item.Naziv), čime se vrši prikaz vrijednosti
                atributa za željenu varijablu. U konkretnom slučaju, vrši se prikaz vrijednosti atributa
                Naziv za trenutni element klase Predmet u foreach petlji.
                -->
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cijena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dostupnost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDKorpa)
                    <!--item.ID, čime se dobavlja vrijednost ID atributa za trenutni element klase Predmet u
                    foreach petlji. Ova vrijednost koristi se za rutiranje, što omogućava da se klikom na
                    link Edit pošalje zahtjev na adresu Predmets/Edit/<ID predmeta>.-->
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kategorija)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Uredi</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Detalji</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Izbrisi</a>
            </td>
        </tr>
}
    </tbody>
</table>
