@model DnevnaDoza.Models.Korpa

@{
    ViewData["Title"] = "Details";
}

<h1>Detalji</h1>

<div>
    <h4>Korpa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StanjeKorpe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StanjeKorpe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrojProizvoda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrojProizvoda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PotvrdjenaNarudzba)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PotvrdjenaNarudzba)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UkupanIznos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UkupanIznos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IDKorisnik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IDKorisnik)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IDNarudzbe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IDNarudzbe)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Uredi</a> |
    <a asp-action="Index">Nazad</a>
</div>
